{% extends "base.html" %}
{% block content %}
<h2>Список водіїв</h2>
<table>
    <tr>
        <th>ID</th>
        <th>ПІБ</th>
        <th>Ліцензія</th>
        <th>Стаж</th>
        <th>Медогляд</th>
        <th>Дії</th>
    </tr>
    {% for driver in drivers %}
    <tr>
        <td>{{ driver.id }}</td>
        <td>{{ driver.name }}</td>
        <td>{{ driver.license_number }}</td>
        <td>{{ driver.experience }}</td>
        <td>{{ driver.medical_checks }}</td>
        <td>
            <a href="/drivers/edit/{{ driver.id }}" class="btn-table edit-btn">Оновити</a>
            <a href="/drivers/delete/{{ driver.id }}" class="btn-table delete-btn">Видалити</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="/drivers/add" class="adding_rel">Додати водія</a>
{% endblock %}
